.topbar {
    width:960px;
}
.logo {
    width:600px
}
#giphy {
    width:100%
}
.main-container {
    background-color: aquamarine
}
.input-line {
    height:90%;
    margin-top:2px;
    border-radius: 5px
}